@import "../../../src/vars.css";

.button-bg {
  user-select: none;
  border-radius: 25px;
  border: none;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: var(--button-text-color);
  background-color: var(--button-color);
}

.button-bg:hover {
  color: var(--button-text-color);
  background-color: var(--button-hover-color);
}
