.button-bg {
  border-radius: 25px;
  border: none;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #fff;
  background-color: #9941ff;
}

.button-bg:hover {
  color: #fff;
  background-color: #8419ff;
}
