.search-component__div {
  width: 79%;
  background-color: #e4e4e4;
  padding: 10px 10px 10px 10px;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-component__input {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 300px;
}

.search-component__show__more {
  user-select: none;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}
