.address__item {
    display: flex;
    flex-direction: column;
  }
  .address__title {
    margin: 0 0 10px 0;
    font-size: 22px;
    font-weight: 700;
  }
  
  .address__label {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  