@import "../../../src/vars.css";

.login-page-bg {
  height: 100vh;
  width: 100%;

  /* Created with https://www.css-gradient.com */
  background: var(--login-page-bg);
}

.login-page__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page__div {
  display: flex;
  margin: 15vh 10%;
  min-width: 300px;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0c9;
  padding: 20px;
  border-radius: 25px;
}

.login-page__title {
  margin-bottom: 50px;
  color: var(--label-text-color);
}

.login-page__error {
  color: var(--error-text-color);
  font-weight: 700;
  margin: 0 0 40px 0;
  white-space: pre-wrap;
}

.fadeIn {
  animation: fadeInAnimation 0.3s linear;
}

.fadeOut {
  animation: fadeOutAnimation 0.4s linear;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
