.details-bg {
  width: 100%;
  padding-top: 5vh;
  /* Created with https://www.css-gradient.com */
  background: #dec9ff;
  background: -webkit-linear-gradient(top left, #dec9ff, #d6aaff);
  background: -moz-linear-gradient(top left, #dec9ff, #d6aaff);
  background: linear-gradient(to bottom right, #dec9ff, #d6aaff);
  padding-bottom: 50px;
}

.details-page__root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details-page__wrapper {
  display: block;
}

.details-page__back {
  cursor: pointer;
  text-align: start;
  margin: 20px;
  transition: all 0.2s ease-in-out;
  color: #a661ff;
}

.details-page__back:hover {
  color: #7c18ff;
}

.details-page__card {
  min-width: 350px;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: 5px;
  gap: 10px;
  background-color: rgb(44, 44, 44);
  flex-direction: column;
  width: 40%;
  transition: all 0.2s ease-in-out;
}

.details-page__card:hover {
  transform: scale(1.05);
}

.details-page__img {
  transition: all 0.2s ease-in-out;
}

.details-page__img:hover {
  transform: scale(1.2);
}

.details-page__card__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 50px;
  gap: 30px;
}

.details-page__item {
  display: flex;
  margin: 5px;
  gap: 10px;
}

.details-page__title {
  color: #cfaaff;
  font-size: 20px;
  font-weight: 700;
}

.details-page__value {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
