@import "../../../src/vars.css";

.details-bg {
  width: 100%;
  padding-top: 5vh;
  background: var(--detail-page-bg);
  padding-bottom: 50px;
}

.details-page__root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details-page__wrapper {
  display: block;
}

.details-page__back {
  cursor: pointer;
  text-align: start;
  margin: 20px;
  transition: all 0.2s ease-in-out;
  color: var(--button-color);
}

.details-page__back:hover {
  color: var(--button-hover-color);
}



.details-page__img {
  transition: all 0.2s ease-in-out;
}

.details-page__img:hover {
  transform: scale(1.2);
}


