.card-detail__root {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 850px) {
  .card-detail__root {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) and (min-width: 850px) {
  .card-detail__root {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.card-detail__item {
  display: flex;
  flex-direction: column;
}

.card-detail__title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.card-detail__label {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.hr {
  margin-left: 0;
  margin-right: 0;
}
