.card-detail__root {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

@media (max-width: 850px) {
  .card-detail__root {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

/* @media (max-width: 1200px) and (min-width: 850px) {
  .card-detail__root {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }
} */

.hr {
  margin-left: 0;
  margin-right: 0;
}

.card-details__item {
  display: flex;
  flex-direction: column;
  width: 260px;

  gap: 3px;
}

.card-details__title {
  margin-bottom: 10px;
}
