@import "../../../src/vars.css";

.alert-modal__centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-modal__modal {
  user-select: none;
  pointer-events: all !important;
  width: 350px;
  height: 180px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.alert-modal__modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.alert-modal__heading {
  margin: 0;
  padding: 10px;
  color: var(--error-text-color);
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}

.alert-modal__modalContent {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  color: var(--label-text-color);
  text-align: center;
}

.alert-modal__modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.alert-modal__actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.alert-modal__deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 600;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: var(--delete-button-color);
  transition: all 0.25s ease;
}

.alert-modal__deleteBtn:hover {
  box-shadow: 0 10px 20px -10px var(--delete-button-hover-color);
  transform: translateY(-5px);
  background: var(--delete-button-hover-color);
}

.alert-modal__cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 600;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: solid 1px var(--button-color);
  color: var(--button-color);
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.alert-modal__cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: var(--button-hover-color);
  color: white;
}
